@page
@model ResultChecker.Pages.Student.MyCourseRegModel
@{
    ViewBag.Title = "My Courses Reg";
    int SN = 0;
}

<div class="col-sm-12">
    @if (Model.MyCourses.Any())
    {
        @if (TempData["message"] != null)
        {
            <div classs="container p-0 ">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        <form method="post">
            <div class="row mb-2">


                <div class="col-md-4">
                    @Html.DropDownListFor(x => Model.Session, new SelectList(Model.SessionList, "Value", "Text", ""), htmlAttributes: new { @class = "form-control", id = "Session" })
                    <span asp-validation-for="Session" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(x => Model.Semester, new SelectList(Model.SemesterList, "Value", "Text", ""), htmlAttributes: new { @class = "form-control", id = "Semester" })
                    <span asp-validation-for="Semester" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Print" class="btn btn-sm btn-info" />
                </div>
            </div>
        </form>
        <!-- Hover table card start -->
        <div class="card">
            <div class="card-header">
                <h5>My Course Registration</h5>
                <span class="txt-muted">List of student registered courses. </span><a asp-page="courseregistration"><strong>Register New Course</strong></a>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa-chevron-left"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                        <li><i class="fa fa-times close-card"></i></li>
                    </ul>
                </div>

            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>CourseCode</th>
                                <th>Semester</th>
                                <th>Session</th>
                                <th>Year</th>
                                <th>Date</th>
                                <th>Edit/Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MyCourses)
                            {
                                <tr>
                                    <td>@(++SN)</td>
                                    <td>@item.CourseCode</td>
                                    <td>@item.Semester</td>
                                    <td>@item.Session</td>
                                    <td>@item.Year</td>
                                    @*<td>@item.SubmittedBy</td>*@
                                    <td>@item.DateSubmitted.ToShortDateString()</td>
                                    <td>
                                        <form asp-page="courses" asp-route-id="@item.Id" method="post">
                                            <a asp-page="editcourse" asp-route-id="@item.Id" class="btn btn-sm btn-success btn-outline-success mr-3"><i class="icofont icofont-ui-edit"></i></a>
                                            <span id="confirmDeleteSpan_@item.Id" style="display:none;">
                                                <span>Confirm delete?</span>
                                                <button type="submit" class="btn btn-danger btn-sm">Yes</button>
                                                <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@item.Id', false);">No</a>
                                            </span>
                                            <span id="deleteSpan_@item.Id">
                                                <a href="#" class="btn btn-sm btn-danger btn-outline-danger" onclick="confirmDelete('@item.Id', true);"><i class="icofont icofont-delete-alt"></i></a>

                                            </span>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Hover table card end -->
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h5>Course Registered</h5>
            </div>
            <div class="card-block table-border-style">
                No course registered yet, <a asp-page="courseRegistration">click here to registered new course</a>
            </div>
        </div>
    }
</div>