@page
@model ResultChecker.Pages.Student.MyRegPrintModel
@{
    ViewBag.Title = "My Courses Reg";
    int SN = 0;
    string Session = null;
    string Semester = null;
    string Year = null;
    @foreach (var item in Model.vwCourses)
    {
       
            Session= item.Session;
            Semester= item.Semester;
            Year= item.Year;
       
    }
}

<div class="col-sm-8">
    @if (Model.applicationUser != null)
    {
        @*@if (TempData["message"] != null)
            {
                <div classs="container p-0 ">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["message"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }*@
        @*<form method="post">
                <div class="row mb-2">


                    <div class="col-md-4">
                        @Html.DropDownListFor(x => Model.Session, new SelectList(Model.SessionList, "Value", "Text", ""), htmlAttributes: new { @class = "form-control", id = "Session" })
                        <span asp-validation-for="Session" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => Model.Semester, new SelectList(Model.SemesterList, "Value", "Text", ""), htmlAttributes: new { @class = "form-control", id = "Semester" })
                        <span asp-validation-for="Semester" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Print" class="btn btn-sm btn-info" />
                    </div>
                </div>
            </form>*@
        <!-- Hover table card start -->
        <div class="card">
            <div class="card-header">
                <h5>My Course Registration</h5>
                <span class="txt-muted">List of student registered courses. </span>
                <button type="button" onclick="" class="btn btn-sm btn-dark d-print-none">Print this Page</button>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa-chevron-left"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                        <li><i class="fa fa-times close-card"></i></li>
                    </ul>
                </div>

            </div>
            <div class="card-block table-border-style border border-solid" id="printDiv">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <td colspan="4"><h5><strong>KADUNA POLYTECHNIC</strong></h5></td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4"><h6><strong>STUDENT COURSE REGISTRATION FORM</strong></h6></td>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>NAME:  </td>

                                <td>@Model.applicationUser.FullName</td>
                            </tr>
                            <tr>
                                <td>REGISTRATION NO:</td>
                                <td>@Model.applicationUser.StaffID</td>
                            </tr>
                            <tr>
                                <td>SPONSOR'S ADDRESS:</td>
                                <td>@Model.applicationUser.NOKAddress</td>

                            </tr>
                            @*<tr>
                                    <td colspan="2">DEPARTMENT:  @Model.applicationUser.Department</td>
                                    <td></td>
                                    <td></td>
                                </tr>*@
                            <tr>
                                <td>COURSE:</td>
                                <td> @Model.applicationUser.Department</td>
                            </tr>
                          
                            <tr>

                                <td>SESSION: @Session</td>
                                <td>SEMESTER: @Semester</td>
                                <td>YEAR: @Year</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>CourseCode</th>
                                <th>Title</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.vwCourses)
                            {
                                <tr>
                                    <td>@(++SN)</td>
                                    <td>@item.CourseCode</td>
                                    <td>@item.CourseTitle</td>
                                    <td>@item.CourseUnit</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="text-center">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">Student's Signature & Date</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Hover table card end -->
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h5>Course Registered</h5>
            </div>
            <div class="card-block table-border-style">
                No course registered yet, <a asp-page="courseRegistration">click here to registered new course</a>
            </div>
        </div>
    }
</div>

@section Scripts{

    <script type="text/javascript">

        function printDiv() {
            var divContents = document.getElementById("printDiv").innerHTML;
            var printWindow = window.open('', '', 'height=200,width=400');
            printWindow.document.write('<html><head><title>Print DIV Content</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }

    </script>
} 