@page
@model ResultChecker.Pages.Admin.SessionSemestersModel
@{
    ViewBag.Title = "Sessions";
    int SN = 0;
}

<div class="col-sm-12">
    @if (Model.SessionTerms.Any())
    {
        @if (TempData["message"] != null)
        {
            <div classs="container p-0 ">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        <!-- Hover table card start -->
        <div class="card">
            <div class="card-header">
                <h5>Sessions</h5>
                <span class="txt-muted">List of sessions available. </span><a asp-page="addsession"><strong>Create New Session</strong></a>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa-chevron-left"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                        <li><i class="fa fa-times close-card"></i></li>
                    </ul>
                </div>

            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Session</th>
                                @*<th>Term</th>*@
                                <th>IsActive</th>
                                <th>SubmittedBy</th>
                                @*<th>DateCreated</th>
                                <th>Date End</th>*@
                                <th>Edit/Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SessionTerms)
                            {
                                <tr>
                                    <td>@(++SN)</td>
                                    <td>@item.Session</td>
                                    @*<td>@item.Semester</td>*@
                                    <td>@item.IsActive</td>
                                    <td>@item.SubmittedBy</td>
                                    @*<td>@item.DateCreated.ToShortDateString()</td>
                                    <td>@item.DateEnd.ToShortDateString()</td>*@
                                    <td>
                                        <form asp-page="sessionterms" asp-route-id="@item.Id" method="post">
                                            <a asp-page="editsession" asp-route-id="@item.Id" class="btn btn-sm btn-success btn-outline-success mr-3"><i class="icofont icofont-ui-edit"></i></a>
                                            <span id="confirmDeleteSpan_@item.Id" style="display:none;">
                                                <span>Confirm delete?</span>
                                                <button type="submit" class="btn btn-danger btn-sm">Yes</button>
                                                <a href="#" class="btn btn-primary btn-sm" onclick="confirmDelete('@item.Id', false);">No</a>
                                            </span>
                                            <span id="deleteSpan_@item.Id">
                                                <a href="#" class="btn btn-sm btn-danger btn-outline-danger" onclick="confirmDelete('@item.Id', true);"><i class="icofont icofont-delete-alt"></i></a>

                                            </span>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Hover table card end -->
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h5>Session</h5>
            </div>
            <div class="card-block table-border-style">
                No session available, <a asp-page="addsession">click here to add new session</a>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script type="text/javascript">
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;
            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            }
            else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>
}